body{background: #7cbbdc;position: relative;}
.out2{background: url('../images/bg01.jpg') 0 0 no-repeat;width: 640px;height:973px;padding-top: 35px;margin:0 auto;background-size: 100% 100%;}
.cnzj_top{text-align: center;font-size: 38px;color:#002666;font-weight: bold;}
#cm_dmk{width: 596px;height: 461px;padding-top: 18px;margin:0 auto;margin-bottom: 22px;background: #ffffff;}
#cm_dmk p{text-align: center;;font-size: 25px;color: #646464;}
#cmdm{padding-left: 41px;line-height: 75px;font-size: 28px;color: #fdfffe;font-style: italic;;font-weight: bold;letter-spacing: 67px;width: 418px;height: 75px;background: url('../images/bg03.jpg') 0 0 no-repeat;margin-left: 85px;margin-top: 20px;margin-bottom: 40px;}
dl{width: 587px;height: 107px;margin:0 auto;}
dl dt{font-size: 31px;color: #002570;font-weight: bold;margin-bottom: 18px;}
dl dd{font-size: 23px;color: #636864;margin-bottom: 19px;letter-spacing: 2px;line-height: 30px;}
#cn_zjkhj{width: 433px;height:97px;position: absolute;left: 100px;bottom: 191px;line-height: 97px;font-size: 40px;text-align: center;color: #f2fffc;font-style: italic;font-weight: bold;background: url('../images/btn01.png') 0 0 no-repeat;}
#zj_fx{vertical-align: middle;position: absolute;bottom: 100px;left: 51px;width:560px;height: 68px;line-height: 68px;}
